a {
  color: blue;
}

.header-main-nav {
	background-color: red;
	text-align: center;
}

.header-main-nav ul {
	list-style: none;
}

.header-main-nav ul li {
	display: inline;
}	

.header-main-nav ul li a {
	padding: 20px
}

.main-wrapper {
	width: 1000px;
	margin: 0 auto;
}

.newsreport {
	display: block;
	text-align: center;
	margin= 0 auto;
}

.story-main-wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: justify;
	text-justify: inter-word;
}